@charset "utf-8";

html {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    touch-action: manipulation;
}

blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

header,
hgroup,
nav,
menu,
main,
section,
article,
summary,
details,
aside,
figure,
figcaption,
footer {
    display: block;
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table,
th,
td {
    border: 1px solid black;
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: 400;
}

dl,
ol,
ul {
    list-style-type: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    outline: 0;
    outline: none;
    /* blr: expression(this.onFocus=this.blur()) */
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

textarea {
    resize: none;
    outline: none;
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

button,
input[type=submit],
input[type=text],
input[type=button] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    outline: 0;
    /* blr: expression(this.onFocus=this.blur())d */
}

input {
    outline: 0;
}

input::-webkit-input-safebox-button {
    display: none;
    /*去掉搜狗浏览器密码软盘*/
}

body {
    font-size: 14px;
    color: #000;
    line-height: 1.2;
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
}

body * {
    box-sizing: border-box;
}

#web-ietip {
    width: 526px;
    height: 90px;
    padding: 83px 0 0 84px;
    overflow: hidden;
    /* background: url(../css/ietip/browser.png) no-repeat center center; */
    margin: 200px auto 0;
}

#web-ietip a {
    display: block;
    width: 65px;
    height: 80px;
    float: left;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    line-height: 0;
    font-size: 0;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.eps2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


html {
    font-size: calc(100vw / 1920 * 100);
}

@media(max-width: 900px) {
    html {
        font-size: calc(900px / 1920 * 100);
    }
}

@media(min-width: 1921px) {
    .s0 {
        font-size: 0;
    }

    .s12 {
        font-size: calc(12 * 100vw / 1920);
    }

    .s13 {
        font-size: calc(13 * 100vw / 1920);
    }

    .s14 {
        font-size: calc(14 * 100vw / 1920);
    }

    .s15 {
        font-size: calc(15 * 100vw / 1920);
    }

    .s16 {
        font-size: calc(16 * 100vw / 1920);
    }

    .s17 {
        font-size: calc(17 * 100vw / 1920);
    }

    .s18 {
        font-size: calc(18 * 100vw / 1920);
    }

    .s19 {
        font-size: calc(19 * 100vw / 1920);
    }

    .s20 {
        font-size: calc(20 * 100vw / 1920);
    }

    .s21 {
        font-size: calc(21 * 100vw / 1920);
    }

    .s22 {
        font-size: calc(22 * 100vw / 1920);
    }

    .s23 {
        font-size: calc(23 * 100vw / 1920);
    }

    .s24 {
        font-size: calc(24 * 100vw / 1920);
    }

    .s25 {
        font-size: calc(25 * 100vw / 1920);
    }

    .s26 {
        font-size: calc(26 * 100vw / 1920);
    }

    .s27 {
        font-size: calc(27 * 100vw / 1920);
    }

    .s28 {
        font-size: calc(28 * 100vw / 1920);
    }

    .s29 {
        font-size: calc(29 * 100vw / 1920);
    }

    .s30 {
        font-size: calc(30 * 100vw / 1920);
    }

    .s31 {
        font-size: calc(31 * 100vw / 1920);
    }

    .s32 {
        font-size: calc(32 * 100vw / 1920);
    }

    .s33 {
        font-size: calc(33 * 100vw / 1920);
    }

    .s34 {
        font-size: calc(34 * 100vw / 1920);
    }

    .s35 {
        font-size: calc(35 * 100vw / 1920);
    }

    .s36 {
        font-size: calc(36 * 100vw / 1920);
    }

    .s37 {
        font-size: calc(37 * 100vw / 1920);
    }

    .s38 {
        font-size: calc(38 * 100vw / 1920);
    }

    .s39 {
        font-size: calc(39 * 100vw / 1920);
    }

    .s40 {
        font-size: calc(40 * 100vw / 1920);
    }

    .s41 {
        font-size: calc(41 * 100vw / 1920);
    }

    .s42 {
        font-size: calc(42 * 100vw / 1920);
    }

    .s43 {
        font-size: calc(43 * 100vw / 1920);
    }

    .s44 {
        font-size: calc(44 * 100vw / 1920);
    }

    .s45 {
        font-size: calc(45 * 100vw / 1920);
    }

    .s46 {
        font-size: calc(46 * 100vw / 1920);
    }

    .s47 {
        font-size: calc(47 * 100vw / 1920);
    }

    .s48 {
        font-size: calc(48 * 100vw / 1920);
    }

    .s49 {
        font-size: calc(49 * 100vw / 1920);
    }

    .s50 {
        font-size: calc(50 * 100vw / 1920);
    }

    .s51 {
        font-size: calc(51 * 100vw / 1920);
    }

    .s52 {
        font-size: calc(52 * 100vw / 1920);
    }

    .s53 {
        font-size: calc(53 * 100vw / 1920);
    }

    .s54 {
        font-size: calc(54 * 100vw / 1920);
    }

    .s55 {
        font-size: calc(55 * 100vw / 1920);
    }

    .s56 {
        font-size: calc(56 * 100vw / 1920);
    }

    .s57 {
        font-size: calc(57 * 100vw / 1920);
    }

    .s58 {
        font-size: calc(58 * 100vw / 1920);
    }

    .s59 {
        font-size: calc(59 * 100vw / 1920);
    }

    .s60 {
        font-size: calc(60 * 100vw / 1920);
    }
}

@media(max-width: 1920px) and (min-width: 551px) {
    .s0 {
        font-size: 0;
    }

    .s12 {
        font-size: 12px
    }

    .s13 {
        font-size: calc(12px + 1 * 100vw / 1920);
    }

    .s14 {
        font-size: calc(12px + 2 * 100vw / 1920);
    }

    .s15 {
        font-size: calc(12px + 3 * 100vw / 1920);
    }

    .s16 {
        font-size: calc(12px + 4 * 100vw / 1920);
    }

    .s17 {
        font-size: calc(12px + 5 * 100vw / 1920);
    }

    .s18 {
        font-size: calc(12px + 6 * 100vw / 1920);
    }

    .s19 {
        font-size: calc(12px + 7 * 100vw / 1920);
    }

    .s20 {
        font-size: calc(12px + 8 * 100vw / 1920);
    }

    .s21 {
        font-size: calc(12px + 9 * 100vw / 1920);
    }

    .s22 {
        font-size: calc(12px + 10 * 100vw / 1920);
    }

    .s23 {
        font-size: calc(12px + 11 * 100vw / 1920);
    }

    .s24 {
        font-size: calc(12px + 12 * 100vw / 1920);
    }

    .s25 {
        font-size: calc(12px + 13 * 100vw / 1920);
    }

    .s26 {
        font-size: calc(12px + 14 * 100vw / 1920);
    }

    .s27 {
        font-size: calc(12px + 15 * 100vw / 1920);
    }

    .s28 {
        font-size: calc(12px + 16 * 100vw / 1920);
    }

    .s29 {
        font-size: calc(12px + 17 * 100vw / 1920);
    }

    .s30 {
        font-size: calc(12px + 18 * 100vw / 1920);
    }

    .s31 {
        font-size: calc(12px + 19 * 100vw / 1920);
    }

    .s32 {
        font-size: calc(12px + 20 * 100vw / 1920);
    }

    .s33 {
        font-size: calc(12px + 21 * 100vw / 1920);
    }

    .s34 {
        font-size: calc(12px + 22 * 100vw / 1920);
    }

    .s35 {
        font-size: calc(12px + 23 * 100vw / 1920);
    }

    .s36 {
        font-size: calc(12px + 24 * 100vw / 1920);
    }

    .s37 {
        font-size: calc(12px + 25 * 100vw / 1920);
    }

    .s38 {
        font-size: calc(12px + 26 * 100vw / 1920);
    }

    .s39 {
        font-size: calc(12px + 27 * 100vw / 1920);
    }

    .s40 {
        font-size: calc(12px + 28 * 100vw / 1920);
    }

    .s41 {
        font-size: calc(12px + 29 * 100vw / 1920);
    }

    .s42 {
        font-size: calc(12px + 30 * 100vw / 1920);
    }

    .s43 {
        font-size: calc(12px + 31 * 100vw / 1920);
    }

    .s44 {
        font-size: calc(12px + 32 * 100vw / 1920);
    }

    .s45 {
        font-size: calc(12px + 33 * 100vw / 1920);
    }

    .s46 {
        font-size: calc(12px + 34 * 100vw / 1920);
    }

    .s47 {
        font-size: calc(12px + 35 * 100vw / 1920);
    }

    .s48 {
        font-size: calc(12px + 36 * 100vw / 1920);
    }

    .s49 {
        font-size: calc(12px + 37 * 100vw / 1920);
    }

    .s50 {
        font-size: calc(12px + 38 * 100vw / 1920);
    }

    .s51 {
        font-size: calc(12px + 39 * 100vw / 1920);
    }

    .s52 {
        font-size: calc(12px + 40 * 100vw / 1920);
    }

    .s53 {
        font-size: calc(12px + 41 * 100vw / 1920);
    }

    .s54 {
        font-size: calc(12px + 42 * 100vw / 1920);
    }

    .s55 {
        font-size: calc(12px + 43 * 100vw / 1920);
    }

    .s56 {
        font-size: calc(12px + 44 * 100vw / 1920);
    }

    .s57 {
        font-size: calc(12px + 45 * 100vw / 1920);
    }

    .s58 {
        font-size: calc(12px + 46 * 100vw / 1920);
    }

    .s59 {
        font-size: calc(12px + 47 * 100vw / 1920);
    }

    .s60 {
        font-size: calc(12px + 48 * 100vw / 1920);
    }
}

@media(max-width: 550px) {
    .s0 {
        font-size: 0;
    }

    .s12 {
        font-size: 12px
    }

    .s13 {
        font-size: calc(12px + 1 * 550px / 1920);
    }

    .s14 {
        font-size: calc(12px + 2 * 550px / 1920);
    }

    .s15 {
        font-size: calc(12px + 3 * 550px / 1920);
    }

    .s16 {
        font-size: calc(12px + 4 * 550px / 1920);
    }

    .s17 {
        font-size: calc(12px + 5 * 550px / 1920);
    }

    .s18 {
        font-size: calc(12px + 6 * 550px / 1920);
    }

    .s19 {
        font-size: calc(12px + 7 * 550px / 1920);
    }

    .s20 {
        font-size: calc(12px + 8 * 550px / 1920);
    }

    .s21 {
        font-size: calc(12px + 9 * 550px / 1920);
    }

    .s22 {
        font-size: calc(12px + 10 * 550px / 1920);
    }

    .s23 {
        font-size: calc(12px + 11 * 550px / 1920);
    }

    .s24 {
        font-size: calc(12px + 12 * 550px / 1920);
    }

    .s25 {
        font-size: calc(12px + 13 * 550px / 1920);
    }

    .s26 {
        font-size: calc(12px + 14 * 550px / 1920);
    }

    .s27 {
        font-size: calc(12px + 15 * 550px / 1920);
    }

    .s28 {
        font-size: calc(12px + 16 * 550px / 1920);
    }

    .s29 {
        font-size: calc(12px + 17 * 550px / 1920);
    }

    .s30 {
        font-size: calc(12px + 18 * 550px / 1920);
    }

    .s31 {
        font-size: calc(12px + 19 * 550px / 1920);
    }

    .s32 {
        font-size: calc(12px + 20 * 550px / 1920);
    }

    .s33 {
        font-size: calc(12px + 21 * 550px / 1920);
    }

    .s34 {
        font-size: calc(12px + 22 * 550px / 1920);
    }

    .s35 {
        font-size: calc(12px + 23 * 550px / 1920);
    }

    .s36 {
        font-size: calc(12px + 24 * 550px / 1920);
    }

    .s37 {
        font-size: calc(12px + 25 * 550px / 1920);
    }

    .s38 {
        font-size: calc(12px + 26 * 550px / 1920);
    }

    .s39 {
        font-size: calc(12px + 27 * 550px / 1920);
    }

    .s40 {
        font-size: calc(12px + 28 * 550px / 1920);
    }

    .s41 {
        font-size: calc(12px + 29 * 550px / 1920);
    }

    .s42 {
        font-size: calc(12px + 30 * 550px / 1920);
    }

    .s43 {
        font-size: calc(12px + 31 * 550px / 1920);
    }

    .s44 {
        font-size: calc(12px + 32 * 550px / 1920);
    }

    .s45 {
        font-size: calc(12px + 33 * 550px / 1920);
    }

    .s46 {
        font-size: calc(12px + 34 * 550px / 1920);
    }

    .s47 {
        font-size: calc(12px + 35 * 550px / 1920);
    }

    .s48 {
        font-size: calc(12px + 36 * 550px / 1920);
    }

    .s49 {
        font-size: calc(12px + 37 * 550px / 1920);
    }

    .s50 {
        font-size: calc(12px + 38 * 550px / 1920);
    }

    .s51 {
        font-size: calc(12px + 39 * 550px / 1920);
    }

    .s52 {
        font-size: calc(12px + 40 * 550px / 1920);
    }

    .s53 {
        font-size: calc(12px + 41 * 550px / 1920);
    }

    .s54 {
        font-size: calc(12px + 42 * 550px / 1920);
    }

    .s55 {
        font-size: calc(12px + 43 * 550px / 1920);
    }

    .s56 {
        font-size: calc(12px + 44 * 550px / 1920);
    }

    .s57 {
        font-size: calc(12px + 45 * 550px / 1920);
    }

    .s58 {
        font-size: calc(12px + 46 * 550px / 1920);
    }

    .s59 {
        font-size: calc(12px + 47 * 550px / 1920);
    }

    .s60 {
        font-size: calc(12px + 48 * 550px / 1920);
    }
}

@media(max-width: 750px) {
    .z1 {
        max-width: 500px !important;
        width: 100% !important;
        margin: 0 auto !important;
        padding: 0 !important;
        float: none !important;
        display: block !important;
    }

    .z2,
    .z3,
    .z4,
    .z5 {
        float: none !important;
        display: inline-block !important;
        vertical-align: top !important;
        margin: 0 2% 2% 0 !important;
    }

    .z2 {
        width: 49% !important;
    }

    .z3 {
        width: 32% !important;
    }

    .z4 {
        width: 23.5% !important;
    }

    .z5 {
        width: 18.4% !important;
    }

    .z2:nth-child(2n),
    .z3:nth-child(3n),
    .z4:nth-child(4n),
    .z5:nth-child(5n) {
        margin-right: 0 !important;
    }

    .l1 {
        padding-left: 10px !important;
    }

    .r1 {
        padding-right: 10px !important;
    }

    .t1 {
        padding-top: 10px !important;
    }

    .b1 {
        padding-bottom: 10px !important;
    }

    .l2 {
        padding-left: 20px !important;
    }

    .r2 {
        padding-right: 20px !important;
    }

    .t2 {
        padding-top: 20px !important;
    }

    .b2 {
        padding-bottom: 20px !important;
    }

    .l3 {
        padding-left: 30px !important;
    }

    .r3 {
        padding-right: 30px !important;
    }

    .t3 {
        padding-top: 30px;
    }

    .b3 {
        padding-bottom: 30px;
    }
}

.LH2 {
    line-height: 2;
}

header .index_img {
    width: 100%;
}

header div {
    user-select: none;
}

header .nav_box {
    z-index: 12;
}

@media (max-width: 900px) {
    header .nav_box {
        height: 1rem;
    }
}

header .nav {
    text-align: center;
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0 8%;
    display: flex;
    background: #d5bb8c;
    border-bottom: 3px solid #d81e06;
    position: relative;
}

@media (max-width:1200px) {
    header .nav .li {
        font-size: 16px;
    }
}

header .nav .li {
    flex: 1;
    overflow: hidden;
    z-index: 5;
}

header .nav .li:hover {
    background: #d81e06;
    color: #FFF;
    overflow: inherit;
}

header .nav .div_activa {
    background: #d81e06;
    color: #FFF;
}


header .nav .li_hide {
    background: #fff;
    color: #000;
    width: 200%;
    position: relative;
    left: -50%;
    top: -3px;
    text-align: left;
}


header .nav .li_hide div:hover {
    background: #e8e8e8;
    color: #d81e06;
}



header .close {
    width: 32px;
    position: absolute;
    z-index: 12;
    padding: 0.1rem;
    margin-left: 0.2rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

header .close span {
    display: block;
    height: 2px;
    background: #000;
    margin-bottom: 6px;
    border-radius: 2px;
    transform-origin: right center;
    transition: all .3s;
    width: 100%;
}

header .close span:nth-child(3) {
    margin-bottom: 0;
}

header .open span {
    background: #fff;
}

header .open span:nth-of-type(1) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

header .open span:nth-of-type(2) {
    width: 0;
}

header .open span:nth-of-type(3) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .nav_hide {
    height: 100%;
    background: #d5bb8c;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 11;
    width: 60%;
    max-width: 300px;
    overflow-y: auto;
    transition: all .2s;
    box-sizing: border-box;
    padding-top: calc(1rem - 3px);
}

header .nav_hide .li {
    line-height: 1.5;
    padding: 5px 10px;
}

header .nav_hide .list {
    line-height: 1.5;
    padding: 5px 10px;
}

header .nav_hide .li:hover {
    background: #e8e8e8;
}

header .nav_hide .li_hide {
    background: #d5bb8c;
    line-height: 1.5;
    display: none;
}

header .nav_hide .list_active .li_icon {
    margin-bottom: 0.1rem;
}

header .nav_hide .list_active .li_hide {
    display: block;
}


header .nav_hide .li_hide div {
    padding-left: 20px;
}

header .nav_hide .li_hide div a {
    display: block;
}

header .nav_hide .li_hide div:hover {
    background: #e8e8e8;
}

header .nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .logo_box {
    display: none;
}

header .nav .logo img {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 5px;
}

header .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000073;
    z-index: 10;
    display: none;
}

header .li_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .li_icon .icon {
    width: 16px;
    height: 16px;
    background: #89867a;
    text-align: center;
    line-height: 16px;
    font-size: 20px;
    cursor: pointer
}

@media (max-width:900px) {
    header .nav_box {
        width: 100%;
        position: fixed;

    }

    header .nav {
        height: 1rem;
        padding: 2px;
        z-index: 12;
    }

    header .nav .li {
        display: none;
    }

    header .close {
        display: block;
        z-index: 12;
    }

    header .index_img {
        display: none;
    }

    header .logo_box {
        display: block;
    }
}


main {
    width: 100%;
    background: #f9f4de;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

main .index_main {
    width: 100%;
    padding: 0 8%;
}

main .cnt_A {
    display: flex;
    justify-content: space-between;
}

main .cnt_A .A1 {
    width: calc(506 / 1600 * 100%);
}

main .cnt_A .swiper1 {
    width: 100%;
}

main .cnt_A .swiper1 .swiper-slide img {
    width: 5.06rem;
    height: 4.16rem;
}

main .cnt_A .swiper1 .swiper-slide .mask {
    width: 100%;
    height: 0.6rem;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .58);
    color: #fff;
    line-height: 0.6rem;
    padding-left: 20px;

}

main .cnt_A .swiper1 .swiper-pagination-bullet {
    background: #fff;
    opacity: 1
}

main .cnt_A .swiper1 .swiper-pagination-bullet-active {
    background: #e60012;
}

main .cnt_A .swiper1 .swiper-pagination {
    text-align: right;
    padding-right: 10px;
}

main .cnt_A .text1 {
    width: 100%;
    margin-top: 0.4rem;
}

main .cnt_A .text1 .text1_title {
    box-sizing: border-box;
    padding: 0 calc(30 / 506 * 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e1d7aa;
}

main .cnt_A .text1 .text1_title p:nth-child(1) {
    color: #6a271f;
}

main .cnt_A .text1 .text1_title p:nth-child(2) {
    color: #aa8415;
}

main .cnt_A .text1 .text1_cnt {
    line-height: 1.5;
    color: #aa8415;
    padding: 0.22rem 0.3rem;
    border: 1px solid #e1d7aa;
}

main .cnt_A .text1 .text1_cnt p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .cnt_A .text1 .text1_cnt p:hover {
    color: #e60012;
}

main .cnt_A .text2 {
    width: 5.06rem;
    height: 4.16rem;
    overflow: auto;
    line-height: 1.5;
}

main .cnt_A .text2::-webkit-scrollbar {
    width: 8px;
}

main .cnt_A .text2::-webkit-scrollbar-track {
    background-color: #f9f4de;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

main .cnt_A .text2::-webkit-scrollbar-thumb {
    background-color: #aa8415;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

main .cnt_A .text2 img {
    width: calc(156 / 506 * 100%);
    float: left;
    margin: calc(10 / 506 * 100%);
}

main .cnt_A .text2 h3 {
    color: #aa8415;
}

main .cnt_A .text2 p {
    color: #aa8415;
    /*text-indent: 20px;*/
}

main .cnt_A .A3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .cnt_A .text3 {
    width: 5.06rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .cnt_A .text3 .icon {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

main .cnt_A .text3 .icon div {
    width: 2.38rem;
    height: 1.4rem;
    background: #f8dfc1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .cnt_A .text3 .icon div img {
    width: calc(52 / 238 * 100%);
    margin-bottom: 5px;
}

main .cnt_A .text3 .cnt1 .title {
    width: 100%;
    line-height: 1.5;
    background: #d81318;
    color: #f8dfc1;
    text-align: center;
}

main .cnt_A .text3 .cnt1 .phone {
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    background: #f8dfc1;
}

main .cnt_A .text3 .cnt1 .icon5 {
    height: 1.6rem;
    background: #f8dfc1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .cnt_A .text3 .cnt1 .icon5 img {
    margin-right: 10px;
}

main .cnt_A .text3 .cnt1 p:nth-child(2) {
    color: #d81318;
}

@media (max-width:1100px) {
    main .cnt_A .text3 .cnt1 .icon5 p:nth-child(1) {
        font-size: 20px;
    }

    main .cnt_A .text3 .cnt1 .icon5 p:nth-child(2) {
        font-size: 16px;
    }

    main .cnt_A .text1 p {
        font-size: 16px;
    }

    main .cnt_A .text1 a {
        font-size: 16px;
    }

    main .cnt_D .text1 a {
        font-size: 16px;
    }

    main .cnt_A .text2 h3 {
        font-size: 18px;
    }

    main .cnt_A .text2 p {
        font-size: 16px;
    }
}

@media (max-width:1000px) {
    main .cnt_A {
        display: block;
    }

    main .cnt_A .A1 {
        width: 100%;
    }

    main .cnt_A .text2 {
        width: 100%;
        height: auto;
        margin-top: 0.4rem;
    }

    main .cnt_A .text2 img {
        margin-top: 0;
    }

    main .cnt_A .swiper1 .swiper-slide img {
        width: 100%;
        height: auto;
    }

    main .cnt_A .text3 {
        width: 100%;
        margin-top: 0.4rem;
    }

    main .cnt_A .text3 .icon a {
        width: calc(238 / 506 * 100%);
    }

    main .cnt_A .text3 .icon div {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    main .cnt_A .text3 .icon:nth-child(1) {
        margin-bottom: 0.4rem;
    }

    main .cnt_A .text3 .cnt1 {
        margin-top: 0.4rem;
    }

}

main .cnt_B {
    width: 100%;
    margin-top: 0.5rem;
}

main .cnt_B .B1 {
    background: #e1d7aa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3rem;
}

main .cnt_B .B1 p {
    line-height: 2;
}

main .cnt_B .B1 p:nth-child(1) {
    color: #6a271f;
    font-weight: bold;
}

main .cnt_B .B1 p:nth-child(2) {
    color: #ad891e;
}

main .cnt_B .B_img {
    display: flex;
    justify-content: space-around;
    border: 1px solid #e1d7aa;
}

main .cnt_B .B_img .swiper-container2 {
    width: 100%;
    margin: 0.4rem;
}

main .cnt_B .B_img img {
    width: 100%;
}

.C_img {
    width: 100%;
    margin-top: 0.5rem;
}

main .cnt_D {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

main .cnt_D .text1 {
    width: calc(506 / 1600 * 100%);
    display: flex;
    flex-direction: column;
}

main .cnt_D .text1 .text1_title {
    box-sizing: border-box;
    padding: 0 calc(30 / 506 * 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e1d7aa;
}

main .cnt_D .text1 .text1_cnt {
    flex: 1;
    line-height: 1.5;
    color: #aa8415;
    padding: 0.1rem;
    border: 1px solid #e1d7aa;
}

main .cnt_D .text1 .text1_cnt p {
    display: flex;
    justify-content: space-between;
}

main .cnt_D .text1 .text1_cnt p:hover {
    color: #e60012;
}

@media (max-width:1200px) {
    main .cnt_D .text1 .text1_cnt p {
        font-size: 14px;
    }
}

main .cnt_D .text1 .text1_cnt p a {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .cnt_D .text1 .text1_title p:nth-child(1) {
    color: #6a271f;
}

main .cnt_D .text1 .text1_title p:nth-child(2) {
    color: #aa8415;
}

.nav_right {
    width: 80px;
    background: #cc171c;
    color: #fff;
    text-align: center;
    font-size: 16px;
    position: fixed;
    right: 0;
    top: 60%;
}

.nav_right div {
    box-sizing: border-box;
    padding: 0.1rem 0;
}

.nav_right div:hover {
    background: #c5a97c;
}

@media (max-width:1000px) {
    main .cnt_D {
        display: block;
    }

    main .cnt_D .text1 {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .nav_right {
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        top: auto;
        z-index: 5;
    }

    .nav_right div {
        flex: 1;
    }
}

footer {
    text-align: center;
    background: #d5bb8c;
    padding: 0.1rem 0;
    color: #5d4135;
    padding-bottom: 60px;
}

footer p {
    line-height: 1.5;
}





/* =======================================内页 */
.contentBox {
    width: 100%;
    background: #f9f4de;
}

.contentBox .index_main {
    width: 100%;
    padding: 0 8%;
}

.contentBox .content_cntA p {
    color: #555555;
    line-height: 3;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eadbc0
}

.contentBox .content_cntA p img {
    margin-right: 15px;
}

.contentBox .content_cntB {
    padding-top: 0.4rem;
    padding-bottom: 0.7rem;
    display: flex;
    justify-content: space-between;
}

.contentBox .content_cntB .A1 {
    width: calc(300 / 1600 * 100%);
}

.contentBox .content_cntB .A1 .A1_p {
    color: #d81e06;
    text-align: center;
    line-height: 2.5;
    font-weight: bold;
    background-color: red;
    /* 不支持线性的时候显示 */
    background-image: linear-gradient(#f9f9f9, #e6e6e6);
    border-bottom: 3px solid #d81e06;
}

.contentBox .content_cntB .A1 .A1_p1 {
    text-align: center;
    line-height: 2.5;
    background: #ffffff;
}

.contentBox .content_cntB .A1 .A1_p1 .A1_p1_box {
    display: flex;
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;

}

.contentBox .content_cntB .A1 .A1_p1 .A1_p1_box img:nth-child(3) {
    display: none;
}

.contentBox .content_cntB .A1 .A1_p1 .A1_p1_box1 img:nth-child(2) {
    display: none;
}

.contentBox .content_cntB .A1 .A1_p1 .A1_p1_box1 img:nth-child(3) {
    display: block;
}

.contentBox .content_cntB .A1 .A1_p1 .A1_p1_box1 {
    color: #d81e06;
}

.contentBox .content_cntB .A2 {
    width: calc(1248 / 1600 * 100%);
    background: #fff;
    padding: 0 0.3rem;
    padding-bottom: 1.1rem;
}

.contentBox .content_cntB .A2 .title {
    color: #d81e06;
    padding: 10px calc(30 / 1248 * 100%);
    border-bottom: 1px solid #eeeeee;
    font-size: 30px !important;
}

.contentBox .content_cntB .A2 .detail_cnt {
    padding: 30px;
}

.contentBox .content_cntB .A2 .text_A_box {
    padding: 0 0.2rem;
}

.contentBox .content_cntB .A2 .text_A {
    display: flex;
    justify-content: space-between;
    padding: 0 calc(30 / 1248 * 100%);
    line-height: 3;
    border-bottom: 1px solid #eeeeee;
}

.contentBox .content_cntB .A2 .text_A:hover {
    color: #d21d06;
    text-decoration: underline
}

.contentBox .content_cntB .A2 .text_A a:nth-child(1) {
    width: 75%;
}

.contentBox .content_cntB .A2 .page div {
    padding: 0.1rem;
    border: 1px solid #dbdbdb;
    margin-left: 0.1rem;
}

.contentBox .content_cntB .A2 .page .active {
    color: #fff;
    background: #d21d06;
}

.contentBox .content_cntB .A2 .page div:hover {
    color: #fff;
    background: #d21d06;
}

.contentBox .content_cntB .A2 .page {
    display: flex;
    justify-content: center;
    color: #666666;
    padding-top: 0.9rem;
    padding-bottom: 0.8rem;
}

.contentBox .content_cntB .A2 .page input {
    border: none;
    width: 0.5rem;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0.1rem;
    text-align: center;

}


@media (max-width:900px) {
    .contentBox .content_cntB {
        display: block;
    }

    .contentBox .content_cntB .A1 {
        width: 100%;
    }

    .contentBox .content_cntB .A2 {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width:700px) {
    .contentBox .content_cntB .A2 .text_A {
        font-size: 14px;
    }

    .contentBox .content_cntB .A2 .text_A a:nth-child(1) {
        width: 70%;
    }

    .contentBox .content_cntB .A2 .page {
        font-size: 14px;
    }

    .contentBox .content_cntB .A2 .page div {
        margin-left: 0.1rem;
        padding: 0.1rem;
    }
}

.details_title {
    text-align: center;
    color: #000 !important;
}


.details_A2 img {
    margin: 0 auto;
}

.details_A2 h1 {
    line-height: 1.5;
}

.details_A2>p {
    /* text-align: left; */
    /* padding: 0 0.3rem; */
    line-height: 1.5;
    /*text-indent: 2em;*/
    color: #555555;
}

.edui-upload-video {
    width: 100%;
    height: 100%;
}

/* .details_A2 span {
    font-size: 18pt !important;
} */
.details_A2 * {
    font-size: inherit !important;
}

@media (max-width:900px) {
    .details_A2 img {
        width: 100%;
        margin: 0;
    }

    .contentBox .index_main {
        padding: 0 2%;
    }
}